/*section-header*/
.section-header{
    margin: auto;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
    top: -1px;
    background-image: url("../img/backg-img/logo-survie.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.section-header:before{
    background: transparent;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1px;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
}
/*section-nav-bar*/
.section-nav-bar .navbar-light .navbar-nav .style-link-nav-hed,
.style-link-nav-hed-menu,
.dropdown-menu .language-drop-menu-head {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-nav-bar .style-link-nav-hed-menu:hover{
    color: #FFB548;
}
header .section-nav-bar .add-vertical-line-nav .language-drop-menu-head:hover{
    color: #FFB548;
    text-decoration: none;
}
.section-nav-bar .navbar-light .navbar-nav .style-link-nav-hed{
    display: block;
    padding: 10px;
    margin: 0 15px;
    text-decoration: none;
}
.section-nav-bar .navbar-light .navbar-nav .style-link-nav-hed-menu{
    display: block;
    padding: 10px;
    text-decoration: none;
}
.section-nav-bar .style-nav-menu-head{
    margin-left: 150px;
    margin-right: 178px;
}
.section-nav-bar .pos-img-log-part-head{
    margin-right: 17px;
}
.section-nav-bar .add-menu-tick-nav::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 43%;
    right: -8px;
    background-image: url("../img/head-img/Vector-head.png");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
}
.section-nav-bar .add-vertical-line-nav::after{
    content: "";
    background-image: url("../img/head-img/line.png");
    width: 1px;
    height: 30px;
    margin: 0 25px;
    background-repeat: no-repeat;
}
.section-nav-bar .navbar-light .navbar-nav .style-link-nav-hed:hover,
.section-nav-bar .navbar-light .navbar-nav .style-link-nav-hed:focus {
    text-decoration: none;
}
header .section-nav-bar .add-vertical-line-nav .dropdown-menu {
    width: 55px;
    min-width: 55px;
    padding: 10px 20px 10px 9px;
    border-radius: 3px;
    border: none;
    margin-top: 4px;
    background: rgba(0, 0, 0, 0.75);
}
header .section-nav-bar .add-vertical-line-nav .language-drop-menu-head{
    display: block;
    width: 100%;
    padding: 5px 0;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
    text-decoration: none;
}
/*section-nav-bar*/
/*section-surv-at-all*/
.section-surv-at-all .title-surv-at-all h1{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-surv-at-all .title-surv-at-all h3{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.section-surv-at-all .butto-surv-at-all{
    max-width: 260px;
    height: 60px;
    padding: 20px 17px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border: hidden;
    border-radius: 4px;
    margin: 0 auto;
}
.section-surv-at-all .title-butt-surv-at-all{
    z-index: 1;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A1917;
}
header .section-surv-at-all .title-surv-at-all{
    padding-top: 230px;
    padding-bottom: 20px;
}
header .config-figure-the-story{
    position: absolute;
    bottom: 0;
    left: 50%;
}
header .config-figure-the-story p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: -10px;
    margin-left: -20px;
}
header .config-figure-the-story a:hover{
    text-decoration: none;
}
/*section-surv-at-all*/
/*section-header*/

/*section-social-battle*/
.section-social-battle{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1051px;
    top: -1px;
    background-image: url("../img/social_battle/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.section-social-battle:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgb(0 0 0 / 72%) 60.63%, #080A0B 99.74%);
}
.section-social-battle .carousel-control-next-icon{
    background-image: url("../img/social_battle/switch-next.svg");
    margin-right: -130px;
}
.section-social-battle .carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin: 0 20px;
}
.section-social-battle .img-show-social-battle{
    max-width: 440px;
}
.section-social-battle .tilte-social-battle{
    z-index: 1;
}
.section-social-battle .tilte-social-battle h3{
    z-index: 1;
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;

}
.section-social-battle .tilte-social-battle h1{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 410px;
}
.section-social-battle .tilte-social-battle p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    width: 365px;
    margin-top: 60px;
    margin-left: 255px;
}
.section-social-battle .tilte-social-battle .mar-off-text{
    margin-top: 10px;
}
.section-social-battle .tilte-line-social-battle{
    border-bottom: 4px solid #FFFFFF;
    width: 800px;
    position: absolute;
}
.fix-pd-top-soc-bat{
    padding-top: 185px;
}
.section-social-battle .tilte-social-battle{
    max-width: 670px;
    width: 100%;
    padding-top: 70px;
}
/*section-social-battle*/

/*section-features-block*/
.section-features-block{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 960px;
    top: -2px;
    background-image: url("../img/features/features.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.section-features-block .text-features-block h3{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.section-features-block .text-features-block h1{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-features-block .text-features-block{
    padding: 250px 85px 0 0;
}
.section-features-block .pos-text-full-fea-b{
    padding-top: 70px;
}
.section-features-block .decoration-points-line .points-full-wite{
    border-radius: 100%;
    width: 14px;
    height: 14px;
    margin-top: 10px;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
}
.section-features-block .decoration-points-line .points-clear-wite{
    border-radius: 100%;
    width: 14px;
    height: 14px;
    margin-bottom: 65px;
    border: 1px solid #FFFFFF;
}
.section-features-block .decoration-points-line .line-full-wite{
    width: 2px;
    height: 135px;
    border-left: 2px solid #FFFFFF;
    margin-left: 6px;
}
.section-features-block .pos-text-full-fea-b .style-text-features-block{
    margin-left: 30px;
}
.section-features-block .text-features-block .style-text-features-block .mar-pos-40-px{
    margin-top: 40px;
}
.section-features-block .style-text-features-block h2{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 2px;
    color: #FFB548;
}
.section-features-block .style-text-features-block p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    width: 362px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #FFFFFF;
}
/*section-features-block*/

/*create_system_requ*/
.create_system_requ{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 960px;
    top: -3px;
    background-image: url("../img/system-req/syste-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.create_system_requ-dark-line:after{
    content: "";
    background: black;
    width: 100%;
    height: 5px;
}
.title-create_system_requ h3{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
}
.title-create_system_requ h1{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.create_system_requ .title-create_system_requ{
    padding-top: 145px;
    margin-bottom: 133px;
}
.create_system_requ .table-sytem-req{
    border: 1px solid #979797;
    max-width: 575px;
}
.create_system_requ .table-sytem-req .p-width257-px{
    width: 260px;
}
.create_system_requ .table-sytem-req-2{
    border-bottom: 1px solid #979797;
}
.create_system_requ .table-sytem-req-3{
    border-bottom: 1px solid #979797;
}
.create_system_requ .table-sytem-req-4{
    border-right: 1px solid #979797;
    width: 293px;
}
.create_system_requ .table-sytem-req h3{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    margin-top: 15px;
    margin-left: 20px;
}
.create_system_requ .table-sytem-req p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 20px;
    width: 514px;
}
/*create_system_requ*/

/*press-quotes*/
.section-press-quotes{
    position: relative;
    width: 100%;
    top: -3px;
    background: radial-gradient(498.52% 526.27% at 32.21% 33.47%, rgb(255 255 255 / 327%) -9%, rgb(0 0 0) 4.1%, #080A0B 13.74%)
}
.section-press-quotes .style-text-press-quotes{
    padding-top: 305px;
    padding-bottom: 270px;
}
.section-press-quotes .style-text-press-quotes h3{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.section-press-quotes .style-text-press-quotes h1{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-press-quotes .style-text-press-quotes p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 435px;
    margin-bottom: 37px;
    color: #FFFFFF;
}
.section-press-quotes .style-button-press-quotes{
    width: 265px;
    height: 60px;
    padding: 18px 35px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border: hidden;
    border-radius: 4px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #1A1917;
}
.section-press-quotes .block-from-twit{
    padding-top: 160px;
}
.section-press-quotes .block-from-twit .style-block-twit{
    position: relative;
    display: block;
    width: 453px;
    height: 183px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #1B1C1D;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-top{
    position: relative;
    display: block;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-ico-img{
    width: 66px;
    height: 66px;
    position: absolute;
    left: 10px;
    border-radius: 100%;
    background: #FFB548;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-ico-img img{
    width: 66px;
    height: 66px;
    margin-left: -10px;
    margin-top: -3px;
    border-radius: 100%;
    background: #FFB548;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-title{
    position: absolute;
    left: 95px;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-logo{
    position: absolute;
    top: 0;
    right: 15px;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-bottom{
    position: absolute;
    bottom: 1px;
    margin-bottom: 5px;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-title h3{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-title p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #8D8D8D;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-bottom p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 8px;
    width: 400px;
    color: #FFFFFF;
}
.section-press-quotes .block-from-twit .style-block-twit .style-block-twit-bottom h6{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 13px;
    color: #8D8D8D;
}
.section-press-quotes .block-from-twit .style-twit-block-1{
    margin-left: 195px;
}
.section-press-quotes .block-from-twit .style-twit-block-2{
    margin-left: 80px;
}
.section-press-quotes .block-from-twit .style-twit-block-3{
    margin-left: 170px;
}
/*press-quotes*/

/*section-newsletter-subscribe*/
.section-newsletter-subscribe{
    position: relative;
    top: -3px;
    background: #080A0B;
}
.section-newsletter-subscribe .pos-img-newsletter-subscribe{
    padding-top: 50px;
}
.section-newsletter-subscribe .title-newsletter-subscribe{
    padding-top: 220px;
}
.section-newsletter-subscribe .title-newsletter-subscribe h3{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.section-newsletter-subscribe .title-newsletter-subscribe h1{
    font-family: 'Bebas Neue', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 45px;
}
.section-newsletter-subscribe .title-newsletter-subscribe p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.section-newsletter-subscribe .title-newsletter-subscribe .style-newsletter-subscribe-email input{
    width: 360px;
    height: 60px;
    padding: 15px 0 15px 20px;
    margin-right: 9px;
    background: rgba(255, 255, 255, 0.08);
    border: hidden;
    border-radius: 5px;
    outline: none;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
}
.section-newsletter-subscribe .title-newsletter-subscribe .style-newsletter-subscribe-email button{
    width: 260px;
    height: 60px;
    margin-left: 9px;
    padding: 18px 30px;
    border: hidden;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #1A1917;
}
.section-newsletter-subscribe::after{
    content: "";
    position: relative;
    display:inline-block;
    width: 100%;
    height: 5px;
    background: #080a0b;
    bottom: -9px;
}
/*section-newsletter-subscribe*/
/*section-footer*/
.section-footer{
    width: 100%;
    background: #080A0B;
}
.section-footer .footer-nav-menu{
    border-bottom: 2px solid #838485;
    padding-bottom: 30px;
}
.section-footer .footer-nav-menu .navbar-light .navbar-nav .style-link-nav-hed{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-footer .footer-nav-menu .navbar-light .style-nav-menu-head .navbar-nav .style-link-nav-hed{
    display: block;
    padding: 10px;
    margin: 0 13px;
    text-decoration: none;
}
.section-footer .footer-nav-menu .navbar-light img{
    margin-left: -16px;
    margin-right: 105px;
}
.section-footer .footer-nav-menu .navbar-light .social-networks-link{
    margin-left: 30px;
}
.section-footer .footer-nav-menu .navbar-light .social-networks-link img{
    margin: 0 20px;
}
.section-footer .footer-nav-menu .navbar-light .social-networks-link a{
    text-decoration: none;
}
.section-footer .corporate-footer{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-footer .corporate-footer p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #838485;
}
.section-footer .corporate-footer .privacy-policy-footer h6, a{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-footer .corporate-footer .privacy-policy-footer h6,
a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
/*section-footer*/